rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /question-banks/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null &&
        request.auth.token.email in [
          'agrigence@gmail.com',
          'anksarvesh@gmail.com'
        ];
      allow delete: if request.auth != null &&
        request.auth.token.email in [
          'agrigence@gmail.com',
          'anksarvesh@gmail.com'
        ];
    }

    match /images/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null &&
        request.auth.token.email in [
          'agrigence@gmail.com',
          'anksarvesh@gmail.com'
        ];
    }

    match /users/{uid}/avatar {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.auth.uid == uid
        && request.resource.size < 2097152
        && request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
